
@media screen and (max-width: 1020px){
    header{
        display: none;
    }
    .mobile-header{
        display: flex;
        position: fixed;
        z-index: 0;
        /* margin: 0; */
        /* border: 3px solid firebrick; */
    }
    .mobile-header h2{
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .dropdown{
        display: none;
        z-index: 100;
    }
    .left-section2{
        display: none;
    }
    .section1 {
        display: none;
    }
    .section1-mob{
        display: block;
        z-index: -1;
        position: absolute;
    }
    .slider {
        display: block;
        margin-top: 100px;
        /* z-index: 2; */
        
    }
    .slides img{
        width: 90%;
        display: none;
        margin: 0 auto;
    }
    .slides img.displaySlide{
        display: block;
    }
    
    .slider button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        stroke:#1d2025;
        outline: 0;
        border: 0;
    }
    .prev{

        left:5%;
    }
    .next{
        right:5%;
    }
}
@media  screen and (max-width:780px) {
    header{
        display: none;
    }
    .mobile-header{
        display: flex;
        position: fixed;
        z-index: 0;
        /* margin: 0; */
        /* border: 3px solid firebrick; */
    }
    .mobile-header h2{
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .dropdown{
        display: none;
        z-index: 100;
    }
    .left-section2{
        display: none;
    }
    .section1 {
        display: none;
    }
    .section1-mob{
        display: block;
        z-index: -1;
        position: absolute;
    }
    .slider {
        display: block;
        margin-top: 100px;
        /* z-index: 2; */
        
    }
    .slides img{
        width: 100%;
        display: none;
    }
    .slides img.displaySlide{
        display: block;
    }
    
    .slider button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        stroke:#1d2025;
        outline: 0;
        border: 0;
    }
    .prev{

        left:0;
    }
    .next{
        right:0;
    }
}
